set $mode_shell Launch: [p]rod [g]dp [q]ua [u]at [d]ev [o]vh [l]ogic
bindsym $mod+t mode "$mode_shell"

mode "$mode_shell" {
    bindsym p exec launch-shells-prod.sh, mode "default"
    bindsym g exec launch-shells-gdp.sh, mode "default"
    bindsym q exec launch-shells-qua.sh, mode "default"
    bindsym u exec launch-shells-uat.sh, mode "default"
    bindsym d exec launch-shells-dev.sh, mode "default"
    bindsym o exec launch-shells-ovh.sh, mode "default"
    bindsym l exec launch-shells-logic.sh, mode "default"

    bindsym Escape mode "default"
    bindsym Return mode "default"
}


