
# set $base00 #272822
# set $base01 #383830
# set $base02 #49483e
# set $base03 #75715e
# set $base04 #a59f85
# set $base05 #f8f8f2
# set $base06 #f5f4f1
# set $base07 #f9f8f5
# set $base08 #f92672
# set $base09 #fd971f
# set $base0A #f4bf75
# set $base0B #a6e22e
# set $base0C #a1efe4
# set $base0D #66d9ef
# set $base0E #ae81ff
# set $base0F #cc6633
# 
# set $color_background        #272822
# set $color_foreground        #f8f8f2
# set $color_focused_border     $color_foreground
# set $color_red               #dc322f
# set $color_blue              #268bd2
# set $color_urgent_foreground #f92672
# set $color_green             #a6e22a
# set $color_x01 #eee8d5
# set $color_x02 #002b36
# set $color_x03 #586875
# set $color_dark #141411
# set $color_focused_foreground #141411
# set $color_focused_background #e6db74
# set $color_black #000000

set $color_background #000000
set $color_separator #eee8d5
set $color_statusline #f8f8f2

# set $color_focused_border
# set $color_focused_background
# set $color_focused_foreground

set $color_active_border #ada021
set $color_active_background #272822
set $color_active_foreground #eee8d5

# set $color_inactive_border
# set $color_inactive_background
# set $color_inactive_foreground

set $color_urgent_border #ff2277
set $color_urgent_background #ff3388
set $color_urgent_foreground #002233

set $color_binding_border #778899
set $color_binding_background #223344
set $color_binding_foreground #ccddaa


set $color_focused_border #ada021
set $color_focused_background #e6db74
set $color_focused_foreground #141411
set $color_focused_indicator #a6e22e
set $color_focused_child_border #eee8d5

set $color_inactive_border #49483e
set $color_inactive_background #272822
set $color_inactive_foreground #eee8d5
set $color_inactive_indicator #a6e22e
set $color_inactive_child_border #383830

set $color_unfocused_border #383830
set $color_unfocused_background #272822
set $color_unfocused_foreground #eee8d5
set $color_unfocused_indicator #a6e22e
set $color_unfocused_child_border #383830

set $color_urgent_border #fc9fc0
set $color_urgent_background #f92672
set $color_urgent_foreground #ffffff
set $color_urgent_indicator #a6e22e
set $color_urgent_child_border #fc9fc0

set $color_placeholder_border #000000
set $color_placeholder_background #0c0c0c
set $color_placeholder_foreground #ffffff
set $color_placeholder_indicator #000000
set $color_placeholder_child_border #0c0c0c

