# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $color_focused_border $color_focused_background $color_focused_foreground $color_focused_indicator $color_focused_child_border
client.focused_inactive $color_inactive_border $color_inactive_background $color_inactive_foreground $color_inactive_indicator $color_inactive_child_border
client.unfocused        $color_unfocused_border $color_unfocused_background $color_unfocused_foreground $color_unfocused_indicator $color_unfocused_child_border
client.urgent           $color_urgent_border $color_urgent_background $color_urgent_foreground $color_urgent_indicator $color_urgent_child_border
client.placeholder      $color_placeholder_border $color_placeholder_background $color_placeholder_foreground $color_placeholder_indicator $color_placeholder_child_border
client.background       $color_background
