# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
        status_command ~/bin/i3blocks
        tray_output primary
        separator_symbol "|"

        colors {
                background $color_background
                separator  $color_separator
                statusline $color_statusline

                # State             Border  BG      Text
                focused_workspace   $color_focused_border $color_focused_background $color_focused_foreground
                active_workspace    $color_active_border $color_active_background $color_active_foreground
                inactive_workspace  $color_unfocused_border $color_unfocused_background $color_unfocused_foreground
                urgent_workspace    $color_urgent_border $color_urgent_background $color_urgent_foreground
                binding_mode        $color_binding_border $color_binding_background $color_binding_foreground
        }
}

